{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Reminder</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        <span onclick="enableEdit({{ note.id }}, this)">{{ note.data }}</span>
        {% if note.remind_at %}
            <small> - Remind at:</small>
            <span onclick="enableDateEdit({{ note.id }}, this)"> {{ note.remind_at }} </span>
        {% endif %}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" class="form-control">{{ note or '' }}</textarea>

    <input type="date" name="remind_date" class="form-control" value="{{ remind_date or '' }}">

    <input type="time" name="remind_time" class="form-control" value="{{ remind_time or '' }}">

    <select name="interval" class="form-control">
        <option value="" {% if not interval %}selected{% endif %}>No repetition</option>
        <option value="daily" {% if interval == 'daily' %}selected{% endif %}>Daily</option>
        <option value="weekly" {% if interval == 'weekly' %}selected{% endif %}>Weekly</option>
        <option value="monthly" {% if interval == 'monthly' %}selected{% endif %}>Monthly</option>
        <option value="yearly" {% if interval == 'yearly' %}selected{% endif %}>Yearly</option>
    </select>

    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
    
</form>
{% endblock %}
