{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Reminder</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        <span onclick="enableEdit({{ note.id }}, this)">{{ note.data }}</span>
        {% if note.remind_at %}
            <small> - Remind at:</small>
            <span onclick="enableDateEdit({{ note.id }}, this)"> {{ note.remind_at }} </span>
        {% endif %}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" class="form-control"></textarea>

    <input type="date" name="remind_date" class="form-control">

    <input type="time" name="remind_time" class="form-control">
    
    <select name="interval" class="form-control">
        <option value="">No repetition</option>
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
    </select>

    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
    
</form>
{% endblock %}
